<div class="container" style="z-index: 9;">  
  <div class="row ">
    <div 
    class=" text-center col-lg-12 col-md-8 col-sm-8 col-6 " 
    style=" margin: auto; margin-top: 10px; padding: 20px; background-color: #f2f2f2;">
    <div>
     <% if user.avatar.attached? %>
        <%= image_tag user.avatar, style:"width: 100px; height: 100px;" %>
      <% end %>
    </div>
      <%= link_to user.username, user %>
      <%= link_to user.email, user %>
        <%= link_to edit_user_registration_path do %>
          <i class="fa-solid fa-gear"></i>
        <% end %>
      <div class="mt-3">
        <a href="<%= followers_user_path(@user) %>"><%= @user.followers.count %> followers</a> 
        | 
        <a href="<%= following_user_path(@user) %>"><%= @user.following.count %> following</a>
       
      </div>
     
      <% if user_signed_in? %>
        <% if current_user.following?(user) %>
          <%= button_to "Unfollow", unfollow_path(user), class: "btn btn-outline-danger " %>
        <% elsif current_user.sent_follow_request_to?(user) %>
          <%= button_to "Cancel follow request", cancel_path(user), class: "btn btn-outline-danger" %>
        <% else %>
          
        <% end %>
      <% end %>
    </div>
  </div>
</div>