<%= stylesheet_link_tag("post") %>
<p style="color: green"><%= notice %></p>
<div id="posts" class="text-center">
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>

  <% if user_signed_in? %>
    <% current_user.follow_requests.each do |request| %>
      <%= request.followerable.email %> <p> Wants to Follow you! </p> 
      <%= button_to "Accept", accept_path(request.followerable) %>
      <%= button_to "Decline", decline_path(request.followerable) %>
    <% end %>

    <p> Followers</p>
    <% current_user.followers.each do |follower| %>
      <p> <b> <%= link_to follower.email, follower %> </b> </p>
    <% end %>

    <p> Following </p>
    <% current_user.following.each do |following| %>
      <p>  <%= link_to following.email, following %> </p>
    <% end %>
  <% end %>
    
</div>


